watch_file *.nix components/*.nix components/*/*.nix prepare.sh
eval "$(lorri direnv)"

if [ -n "$SHELL_HOOK" ]; then
    eval "$SHELL_HOOK"
else
    echo -e '\e[1mBuild not complete yet, please wait.\e[0m Run `lorri shell` to see progress.'
fi
